<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zuxa WebTutor</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>
    {{!-- Navigation links --}}
    <nav>
        <h3>Zuxa Node.js Mini Website</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    {{!-- Body --}}
    <div class="container mt-4">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>ZUXA NodeAuth Project</h1>
            <p>This project was exclusively to demonstrate the implementation of regsiteration and login requests and response
                with the backend of the website using MySql DBMS
            </p>

           
        </div>
            <br>
            <br>

            <p class="listing">
                Website Requirements includes:
              <div class="mt-4 p-5 bg-primary text-white rounded">
                    <ol>
                    <li>Javascript</li>
                    <li>VisualStudio</li>
                    <li>MySql Database</li>
                </ol>
              </div>  
            </p>
    </div>
</body>
</html>